{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    <a href="#" class="no-underline tooltip hover:bg-inherit hidden" data-tip="Voting coming soon!">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline w-6 opacity-20 hover:opacity-100 {{ random(['', '-']) }}rotate-{{ random([45, 90, 180]) }}" viewBox="0 0 32 32"><g fill="none"><path fill="#F8312F" d="M9.4 11.236L6.025 2.341c-.088-.233.181-.437.382-.29l7.9 5.806c.107.08.26.06.343-.046l2.963-3.724a.25.25 0 0 1 .444.132l.416 4.493a.25.25 0 0 0 .308.22l7.97-1.938a.25.25 0 0 1 .242.412l-4.927 5.37a.25.25 0 0 0 .055.382l7.344 4.456a.25.25 0 0 1-.104.463l-8.555.891a.25.25 0 0 0-.213.325l1.398 4.386a.25.25 0 0 1-.39.275l-3.842-2.908a.25.25 0 0 0-.382.104l-3.57 8.703a.25.25 0 0 1-.476-.042L11.054 19.2a.25.25 0 0 0-.303-.192l-7.433 1.783c-.245.058-.413-.243-.234-.421l5.145-5.102a.25.25 0 0 0-.084-.41l-3.97-1.572a.25.25 0 0 1 .032-.475l5.02-1.244a.25.25 0 0 0 .173-.332Z"/><path fill="#FCD53F" d="m12.276 15.226l-1.2 1.213a.25.25 0 0 0 .22.422l2.056-.367a.25.25 0 0 1 .29.205l.69 4.092c.046.264.413.296.502.043l1.296-3.665a.25.25 0 0 1 .396-.108l1.064.888a.25.25 0 0 0 .41-.192v-1.486a.25.25 0 0 1 .27-.249l4.512.37c.228.019.303-.3.09-.385l-4.712-1.893a.25.25 0 0 1-.116-.37l.889-1.34a.25.25 0 0 0-.217-.389l-1.475.047a.25.25 0 0 1-.257-.233l-.177-2.672c-.017-.25-.349-.323-.469-.104l-1.197 2.189a.25.25 0 0 1-.373.077l-2.349-1.835a.25.25 0 0 0-.393.268l.893 2.976a.25.25 0 0 1-.199.319l-2.05.341a.25.25 0 0 0-.088.461l1.645.987a.25.25 0 0 1 .049.39Z"/></g></svg>
      <small>{{ random(5,2000) }}</small>
    </a>
    {{ content.rate_cchs_plus_1 }}
    {{ content.field_instagram_profile_uri }}
    {{ content.field_is_verified }}
    <br />
    <code class="text-xs text-gray-400">door {{ author_name }} {{ date }}</code>
    {{ content.danse_subscribe }}
  </div>

  <div>
    {{ content.field_comments }}
  </div>

  {% if not logged_in %}
    <section class="my-6">
      <h2>{{ 'Add new comment'|t }}</h2>
      <form action="{{ path('user.login') }}">
        <div class="js-form-item form-item js-form-type-textarea">
          <textarea disabled class="js-text-full text-full form-textarea disabled w-full max-w-screen-md" rows="5"></textarea>
        </div>
        <div class="form-actions">
          <small>Om te reageren moet je eerst <a href="{{ path('user.login') }}">inloggen</a> of <a href="{{ path('multiple_registration.role_registration_page', { 'rid' : 'hix' }) }}">registeren</a></small>
          <br />
          <input type="submit" class="btn btn-outline btn-warning btn-block md:btn-wide btn-sm mt-3" value="{{ 'Post comment'|t }}">
        </div>
      </form>
    </section>
  {% endif %}

</article>
