{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('flex flex-wrap') }}>
    {{ content }}
    <div class="flex-initial w-24">
      <a href="{{ path('node.add', { 'node_type' : 'instagram_profile_link' }) }}" class="btn btn-outline btn-warning btn-xs">post</a>
    </div>
    <div class="flex-initial w-8">
      {{ drupal_block('views_block:danse_user_notifications-block_1') }}
    </div>
    <div class="flex-none text-right user-links">
      {% if logged_in %}
        <a href="{{ path('user.logout') }}">logout</a>
      {% else %}
        <a href="{{ path('user.login') }}">login</a>
      {% endif %}
    </div>
  </div>
{% endif %}
