{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('flex flex-wrap') }}>
    {{ content }}
    <div class="flex-initial w-20">
      <a href="{{ path('ccns.post') }}" class="btn btn-outline btn-warning btn-xs h-[26px]">post</a>
    </div>
    <div class="flex-none text-right user-links">
      {% if logged_in %}
        <a href="{{ path('entity.user.canonical', {'user': user.id}, {}) }}">{{ user.displayname }}</a>
        <a href="{{ path('entity.user.canonical', {'user': user.id}, {}) }}">{{ drupal_field('user_picture', 'user', user.id) }}</a>
      {% else %}
        <a href="{{ path('ccns.login_modal') }}" class="use-ajax login" id="nostr-auth">login</a>
      {% endif %}
    </div>
  </div>
{% endif %}
